@import '../../styles/animations.scss';
@import '../../styles/variables.scss';
@import '../../styles/themes.scss';

%button {
  cursor: pointer;
  font-family: $font-family;
  font-size: $base-font-size;
  line-height: 20px;
  font-weight: 600;
  border-radius: $border-radius;
  border: none;
  outline: none;
  height: $height-30px;
  padding: 0px 10px;
  text-align: center;
  &:disabled {
    cursor: not-allowed;
  }
  transition: all $transition-fast;
  .buttonContent {
    display: flex;
    align-items: center;
  }
  .buttonIconLeft {
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .buttonIconRight {
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.buttonPrimary {
  @extend %button;
  background-color: $brand-primary-color;
  color: $neutral-color-l4;
  &:hover {
    background-color: $brand-primary-color-d2;
  }
  &:active {
    background-color: $brand-primary-color-d2;
  }
  &:disabled {
    background-color: $brand-primary-color-l2;
  }
  svg {
    fill: $neutral-color-l4;
  }
}

.buttonDefault {
  @extend %button;
  background-color: $neutral-color-l1;
  color: $brand-primary-color;
  &:hover {
    background-color: $neutral-color;
  }
  &:active {
    background-color: $neutral-color;
  }
  &:disabled {
    color: $neutral-color-d1;
    background-color: $neutral-color-l2;
    svg {
      fill: $neutral-color-d1;
    }
  }
  svg {
    fill: $brand-primary-color;
  }
}

.buttonLink {
  @extend %button;
  a {
    color: $brand-primary-color;
  }
  &:disabled {
    color: $neutral-color-d1;
    text-decoration: underline;
  }
}

.buttonGhost {
  @extend %button;
  background-color: $neutral-color-l4;
  color: $brand-primary-color;
  &:hover {
    background-color: $neutral-color-l1;
  }
  &:active {
    background-color: $neutral-color-l1;
  }
  &:disabled {
    color: $neutral-color-d1;
    background-color: $neutral-color-l2;
    svg {
      fill: $neutral-color-d1;
    }
  }
  svg {
    fill: $brand-primary-color;
  }
}
