@import '../../styles/animations.scss';
@import '../../styles/variables.scss';
@import '../../styles/themes.scss';

%button {
  cursor: pointer;
  font-family: $font-family;
  font-size: $base-font-size;
  line-height: 20px;
  font-weight: 600;
  border-radius: $border-radius;
  border: none;
  outline: none;
  height: $height-32px;
  padding: 0px 10px;
  text-align: center;
  &:disabled {
    cursor: not-allowed;
  }
  transition: all $transition-fast;
  .buttonContent {
    display: flex;
    justify-content: center;
  }
  .buttonIconLeft {
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .buttonIconRight {
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.buttonPrimary {
  @extend %button;
  background-color: var(--brand-primary-color);
  color: var(--neutral-color-l4);
  &:hover {
    background-color: var(--brand-primary-color-d2);
  }
  &:active {
    background-color: var(--brand-primary-color-d2);
  }
  &:disabled {
    background-color: var(--brand-primary-color-l2);
  }
  svg {
    fill: var(--neutral-color-l4);
  }
}

.buttonDefault {
  @extend %button;
  background-color: var(--neutral-color-l1);
  color: var(--brand-primary-color);
  &:hover {
    background-color: var(--neutral-color);
  }
  &:active {
    background-color: var(--neutral-color);
  }
  &:disabled {
    color: var(--neutral-color-d1);
    background-color: var(--neutral-color-l2);
    svg {
      fill: var(--neutral-color-d1);
    }
  }
  svg {
    fill: var(--brand-primary-color);
  }
}

.buttonLink {
  @extend %button;
  background-color: var(--neutral-color-l4);
  a {
    color: var(--brand-primary-color);
  }
  &:disabled {
    color: var(--neutral-color-d1);
    text-decoration: underline;
  }
}

.buttonGhost {
  @extend %button;
  background-color: var(--neutral-color-l3);
  color: var(--brand-primary-color);
  &:hover {
    background-color: var(--neutral-color-l1);
  }
  &:active {
    background-color: var(--neutral-color-l1);
  }
  &:disabled {
    color: var(--neutral-color-d1);
    background-color: var(--neutral-color-l2);
    svg {
      fill: var(--neutral-color-d1);
    }
  }
  svg {
    fill: var(--brand-primary-color);
  }
}
