@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import '../../styles/animations.scss';
@import '../../styles/themes.scss';



.radioButtonGroup {
  display: flex;
  div[role='group'] {
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
    legend {
      padding: 0;
      font-weight: 500;
      font-size: 0.85em;
      margin-bottom: 5px;
    }
    .labelError {
      color: $error-color;
    }
    .items {
      display: flex;
      flex-direction: column;
      label {
        margin-right: 10px;
      }
    }
  }
}


.radioButton {
  user-select: none;
  display: flex;
  align-items: center;
  cursor: pointer;

  input {
    margin: 0px;
    position: absolute;
    opacity: 0;
    min-height: 17px;
    min-width: 17px;
    cursor: pointer;

    &:checked ~ .checkmark:after {
      display: block;
      margin: 0px;
    }
    &:checked ~ .checkmark {
      background-color: $white;
      border: 1.5px solid $brand-color;
    }

    &:disabled ~ .checkmark {
      border: 1.5px solid darken($disabled-input-color, 10%);
      background: lighten($disabled-input-color, 5%);
      cursor: not-allowed;
    }

    &:checked:disabled ~ .checkmark {
      border: 1.5px solid darken($disabled-input-color, 20%);
      cursor: not-allowed;
    }
    &:checked:disabled ~ .checkmark:after {
      display: block;
      background: darken($disabled-input-color, 20%);
      cursor: not-allowed;
    }
  }

  p {
    margin: 5px 10px;
    min-width: 90px;
  }

  .checkmark {
    top: 0;
    left: 0;
    min-height: 17px;
    min-width: 17px;
    background-color: $white;
    border: 1.5px solid darken($border-color, 30%);
    border-radius: 50%;
    margin: 0px;

    &:after {
      content: ' ';
      top: 3.5px;
      left: 3.5px;
      position: relative;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: $brand-color;
      text-align: center;
      align-items: center;
    }
  }

  &:hover input ~ .checkmark {
    background-color: $white;
    border: 1.5px solid $brand-color;
  }

  &:hover input:disabled ~ .checkmark {
    border: 1.5px solid darken($disabled-input-color, 10%);
    background: lighten($disabled-input-color, 5%);
    cursor: not-allowed;
  }

  &:hover input:checked:disabled ~ .checkmark {
    border: 1.5px solid darken($disabled-input-color, 20%);
    background: lighten($disabled-input-color, 5%);
    cursor: not-allowed;
  }
}
