@import '../../styles/variables.scss';
@import '../../styles/animations.scss';
@import '../../styles/themes.scss';

.radioButtonGroup {
  display: flex;
  div[role='group'] {
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
    legend {
      padding: 0;
      font-weight: $font-weight-semibold;
      font-size: $font-size-xs;
      margin-bottom: $space-xs;
    }
    .labelError {
      font-weight: $font-weight-semibold;
      font-size: $font-size-xs;
      color: var(--error-color);
    }
    .items {
      display: flex;
      flex-direction: column;
      label {
        margin-bottom: $space-xs;
      }
    }
  }
}

.radioButton {
  user-select: none;
  display: flex;
  align-items: center;
  cursor: pointer;

  input {
    margin: 0px;
    position: absolute;
    opacity: 0;
    min-height: $size-20px;
    min-width: $size-20px;
    cursor: pointer;

    &:checked ~ .checkmark:after {
      //display: block;
      //margin: 0px;
    }
    &:checked ~ .checkmark {
      background-color: var(--brand-primary-color);
      border: $border-width-sm solid var(--brand-primary-color);
    }

    &:disabled ~ .checkmark {
      border: $border-width-sm solid var(--neutral-color);
      background: var(--neutral-color);
      cursor: not-allowed;
    }

    &:checked:disabled ~ .checkmark {
      border: $border-width-sm solid var(--neutral-color);
      cursor: not-allowed;
    }
    &:checked:disabled ~ .checkmark:after {
      display: block;
      background: var(--neutral-color-l4);
      cursor: not-allowed;
    }
  }

  p {
    line-height: $size-20px;
    margin: $space-xs $space-md;
    min-width: 90px;
  }

  .checkmark {
    transition: all $transition-slow ease-in-out;
    top: 0;
    left: 0;
    min-height: $size-20px;
    min-width: $size-20px;
    background-color: var(--neutral-color-l4);
    border: $border-width-sm solid var(--neutral-color-d2);
    border-radius: 50%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:after {
      content: ' ';
      margin: auto;
      width: $size-10px;
      height: $size-10px;
      border-radius: 50%;
      background: var(--neutral-color-l4);
      text-align: center;
      align-items: center;
    }
  }

  &:hover input ~ .checkmark {
    background-color: var(--brand-secondary-color-l2);
    border: $border-width-sm solid var(--brand-primary-color);
  }

  &:hover input:checked ~ .checkmark {
    background-color: var(--brand-primary-color-d2);
    border: $border-width-sm solid var(--brand-primary-color);
  }

  &:hover input:disabled ~ .checkmark {
    border: $border-width-sm solid var(--neutral-color);
    background: var(--neutral-color);
    cursor: not-allowed;
  }

  &:hover input:checked:disabled ~ .checkmark {
    border: $border-width-sm solid var(--neutral-color);
    background: var(--neutral-color);
    cursor: not-allowed;
  }
}
