@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.formFieldGroup {
    display: flex;
    flex-direction: column;
    label {
        font-weight: 500;
        font-size: 0.9em;
        margin-left: 5px;
    }
    .labelError {
        color : $error-color;
    }
    input {
        @include font-base();
        color: $brand-color;
        border-radius: 2px;
        box-shadow: $shadow-color 0px 1px 2px inset;
        font-size: 16px;
        margin: 5px 0px;
        padding: 10px 8px;
        height: 15px;
        border: 1px solid darken($white, 10%);
        &:focus {
            outline: none;            
            border: 1px solid $text-input-focus-color;
        }
        &::placeholder {
            color: lighten($brand-color, 40%);
        }

        &:disabled {
            background-color:$input-disabled-bg-color;
        }
    }


    
    margin-bottom: 20px;
}

