@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import '../../styles/animations.scss';
@import '../../styles/themes.scss';

.tabsContainer {
  margin: 10px 0px;
  display: flex;
  border-bottom: 1px solid $border-color;
}

.tabItemContainer {
  font-weight: 600;

  .tabActive {
    min-width: 150px;
    cursor: pointer;
    border-bottom: 1.5px solid $brand-color;
    line-height: 35px;
    label {
      margin: 10px 0px 0px 10px;
    }

    color: $brand-dark-color;
    &:hover {
      background-color: darken($primary-bg-color, 7%);
    }
    transition: all 0.4s ease-in-out;
  }

  .tab {
    min-width: 150px;
    cursor: pointer;
    line-height: 35px;
    label {
      margin: 10px 0px 0px 10px;
    }
    color: lighten($primary-text-color, 35%);
    &:hover {
      background-color: darken($primary-bg-color, 2%);
    }
  }
}
