@import '../../styles/variables.scss';
@import '../../styles/animations.scss';
@import '../../styles/themes.scss';

.tabsContainer {
  display: flex;
  border-bottom: 1px solid var(--neutral-color);
}

%tabItemBase {
  min-width: 120px;
  cursor: pointer;
  line-height: 37px;
  label {
    margin: 10px 10px 0px 15px;
    cursor: pointer;
  }
}

.tabItemContainer {
  font-weight: 600;
  .tabActive {
    @extend %tabItemBase;
    color: var(--brand-primary-color);
    &:hover {
      background-color: var(--neutral-color-l1);
    }
    border-bottom: 1.5px solid var(--brand-primary-color);
  }
  .tab {
    @extend %tabItemBase;
    color: var(--neutral-color-d3);
    &:hover {
      background-color: var(--neutral-color-l2);
    }
  }
}
