/*
==========================
BREAKPOINTS
If you adjust this, make sure you sync these values 
to react breakpoint components
==========================
*/
$breakpoint-phone: 767px !default;
$breakpoint-tablet: 768px !default;
$breakpoint-desktop: 992px !default;

/*
==========================
Media Queries
==========================
*/

@mixin phone {
  @media (max-width: #{$breakpoint-phone}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

//Get rule theme suffix
@function get-rule-theme-suffix($theme) {
  @return '-' + $theme;
}
