// =================================================
// NEW COLORS

$brand-primary-color-d2: #223040 !default;
$brand-primary-color-d1: #293a4e !default;
$brand-primary-color: #31465f !default;
$brand-primary-color-l1: #56677c !default;
$brand-primary-color-l2: #748293 !default;

$brand-secondary-color-d2: #ac6800 !default;
$brand-secondary-color-d1: #d17e00 !default;
$brand-secondary-color: #ff9900 !default;
$brand-secondary-color-l1: #ffab2e !default;
$brand-secondary-color-l2: #ffba54 !default;

$success-color-d1: #2a7d4e !default;
$success-color: #42c379 !default;
$success-color-l2: #75d39d !default;

$info-color-d1: #0059b5 !default;
$info-color: #007af8 !default;
$info-color-l2: #73b6fb !default;

$warning-color-d1: #a35e2e !default;
$warning-color: #ff9347 !default;
$warning-color-l2: #ffba89 !default;

$error-color-d1: #a32a3e !default;
$error-color: #ff4260 !default;
$error-color-l2: #ff97a8 !default;

$neutral-color-d4: #333333 !default;
$neutral-color-d3: #444444 !default;
$neutral-color-d2: #666666 !default;
$neutral-color-d1: #999999 !default;
$neutral-color: #dddddd !default;
$neutral-color-l1: #eeeeee !default;
$neutral-color-l2: #f3f3f3 !default;
$neutral-color-l3: #f8f8f8 !default;
$neutral-color-l4: #ffffff !default;

$component-header-color: $neutral-color-l4 !default;
