// COLOURS
$black: #000000 !default;
$white: #fff !default;
$brand-color: #3B5574 !default;
$brand-dark-color: darken($brand-color, 40%) !default;
$shadow-color: #e5e5e5;
$border-color: #e5e5e5;

$success-color: #42c379 !default;
$info-color: #007af8 !default;
$warning-color: #ff9347 !default;
$error-color: #ff4260 !default;

$primary-text-color: #2d2c2c !default;
$secondary-text-color: #707070 !default;
$highlight-text-color: $brand-color !default;

$primary-bg-color: $white !default;
$secondary-bg-color: #f2f2f2 !default;
$highlight-bg-color: #eaf1f9 !default;

$primary-button-color: $brand-color !default;
$secondary-button-color: $brand-dark-color !default;
$disabled-button-color: #e5e5e5 !default;

$disabled-input-color: #f4f4f4 !default;
