@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700&display=swap');

// TYPOGRAPHY
$font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
  'Helvetica Neue', sans-serif !default;
$font-family-code: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace !default;
$base-font-size: 14px;

// LAYOUT SIZES
$border-radius: 3px;
$header-height: 64px !default;
$sidenav-desktop-width: 480px !default;

$height-30px: 30px;

$transition-fast: 300ms !default;
$transition-slow: 500ms !default;
