@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

@mixin loaderDefaults {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    height: 50px;
  }

  p {
    margin: 5px 0px;
    font-size: 14px;
    font-weight: 500;
  }
}

.container {
  @include loaderDefaults();
}

.containerFill {
  height: calc(100vh - 100px);
  @include loaderDefaults();
}
