@import '../../styles/animations.scss';
@import '../../styles/variables.scss';
@import '../../styles/themes.scss';

%card {
  background: var(--neutral-color-l4);
  border-radius: $border-radius;
  overflow: hidden;
}

.cardDefault {
  @extend %card;
  box-shadow: 0 0px 10px 0 var(--neutral-color);
}

.cardOutline {
  @extend %card;
  border: 0.5px solid var(--neutral-color);
}
