@import '../../styles/variables.scss';
@import '../../styles/themes.scss';
@import '../../styles/mixins.scss';

%cardContainer {
  background-color: $primary-bg-color;
  border-radius: 4px;
  border: 1px solid $border-color;
  padding: 10px;
  transition: all 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cardContainer {
  @extend %cardContainer;
  &:hover {
    box-shadow: 0 0 8px 0 $shadow-color;
  }
}

.cardContainerWithShadow {
  @extend %cardContainer;
  box-shadow: 0 0 8px 0 $shadow-color;
}

.active {
  background-color: $highlight-bg-color;
  transition: all 0.4s ease-in-out;
  &:hover {
    box-shadow: none;
  }
}
