@import '../../styles/variables.scss';
@import '../../styles/themes.scss';

.inputField {
  display: flex;
  flex-direction: column;
  label {
    line-height: 18px;
    font-size: 12px; //TODO: Proper variable
    font-weight: $font-weight-semibold;
    margin-bottom: 5px;
  }
  .labelError {
    color: var(--error-color);
  }
  input {
    color: var(--neutral-color-d4);
    font-family: $font-family;
    font-size: $base-font-size;
    line-height: 20px;
    border-radius: 3px;
    padding: 0px 10px;
    height: 30px;
    border: 1px solid var(--neutral-color-d1);
    &:focus {
      outline: none;
      border: 1px solid var(--brand-primary-color);
    }

    &:disabled {
      background-color: var(--neutral-color-l1);
      color: var(--text-color-primary-disabled);
      cursor: not-allowed;
    }
    &::placeholder {
      color: var(--neutral-color-d1);
    }
  }
  margin-bottom: 5px;
}
