@import '../../styles/variables.scss';
@import '../../styles/themes.scss';

.inputField {
  display: flex;
  flex-direction: column;
  label {
    line-height: 18px;
    font-size: 12px; //TODO: Proper variable
    font-weight: $font-weight-semibold;
    margin-bottom: 5px;
  }
  .labelError {
    color: $error-color;
  }
  input {
    color: $neutral-color-d4;
    font-family: $font-family;
    font-size: $base-font-size;
    line-height: 20px;
    border-radius: 3px;
    padding: 0px 10px;
    height: 30px;
    border: 1px solid #999999;
    &:focus {
      outline: none;
      border: 1px solid $brand-primary-color;
    }

    &:disabled {
      background-color: $neutral-color-l1;
      color: lighten($neutral-color-d4, 50%);
    }
    &::placeholder {
      color: #999999;
    }
  }
  margin-bottom: 5px;
}
