@import '../../styles/variables.scss';
@import '../../styles/themes.scss';

.checkBoxField {
  display: flex;
  flex-direction: column;
  label {
    line-height: $line-height-sm;
    margin-bottom: $space-sm;
  }
  .labelCheckBoxWrapper {
    display: flex;
    align-items: center;
    p {
      margin: 0px;
    }
  }
  .labelError {
    font-size: $font-size-xs;
    font-weight: $font-weight-semibold;
    color: var(--error-color);
  }

  .checkbox {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it

    & + p {
      position: relative;
      cursor: pointer;
      padding: 0;
    }

    // Box.
    & + p:before {
      transition: all $transition-slow ease-in-out;
      content: '';
      margin-right: $space-md;
      display: inline-block;
      vertical-align: text-top;
      width: $size-20px;
      height: $size-20px;
      border-radius: $border-radius;
      background: var(--neutral-color-l4);
      box-shadow: 0 0 0 $border-width-sm var(--brand-primary-color) inset;
    }

    // Box hover
    &:hover + p:before {
      background: var(--brand-secondary-color-l2);
    }

    // Box focus
    &:focus + p:before {
      box-shadow: 0 0 0 $border-width-sm var(--brand-primary-color) inset;
    }

    // Box checked
    &:checked + p:before {
      background: var(--brand-primary-color);
    }

    // Disabled state p.
    &:disabled + p {
      cursor: auto;
    }

    // Disabled box.
    &:disabled + p:before {
      box-shadow: 0 0 0 $border-width-sm var(--neutral-color) inset;
      background: var(--neutral-color);
    }

    // Checkmark. Could be replaced with an image
    &:checked + p:after {
      content: '';
      position: absolute;
      left: 4.5px;
      top: 8.5px;
      background: var(--neutral-color-l4);
      width: 2.5px;
      height: 2.5px;
      transform: rotate(45deg);
      box-shadow: 2px 0 0 var(--neutral-color-l4),
        4px 0 0 var(--neutral-color-l4), 4px -2px 0 var(--neutral-color-l4),
        4px -4px 0 var(--neutral-color-l4), 4px -6px 0 var(--neutral-color-l4),
        4px -8px 0 var(--neutral-color-l4);
    }
  }
}
