@import '../../styles/variables.scss';
@import '../../styles/animations.scss';
@import '../../styles/themes.scss';

.content {
  font-size: 0.9em;
  font-weight: 600;
  min-width: 70px;
  max-width: 150px;
  line-height: 99%;
  display: inline-block;
  border-radius: $border-radius;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.success {
  background-color: var(--success-color);
  color: var(--neutral-color-l4);
}

.info {
  background-color: var(--info-color);
  color: var(--neutral-color-l4);
}

.warning {
  background-color: var(--warning-color);
  color: var(--neutral-color-l4);
}

.error {
  background-color: var(--error-color);
  color: var(--neutral-color-l4);
}

.light {
  background-color: var(--neutral-color-l1);
  color: var(--neutral-color-d3);
}
