@import '../../styles/animations.scss';
@import '../../styles/variables.scss';
@import '../../styles/themes.scss';

.dateTimeField {
  display: flex;
  flex-direction: column;
  label {
    font-size: $font-size-xs;
    font-weight: $font-weight-semibold;
    margin-bottom: $space-xs;
  }
  .labelError {
    color: var(--error-color);
  }
  margin-bottom: $space-xs;
}
