@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import '../../styles/animations.scss';
@import '../../styles/themes.scss';

.container {
  overflow: auto;
  padding: 0px 10px 0px 10px;
}

.table {
  background-color: lighten($secondary-bg-color, 1%);
  padding: 0px 20px 0px 10px;
  display: table;
  width: 100%;
  border-collapse: collapse;
  box-sizing: border-box;
  padding: 10px;

  th:before,
  th:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
  }

  thead th {
    font-weight: 700;
    font-size: 0.8em;
    background-color: darken($secondary-bg-color, 1%);
    color: lighten($primary-text-color, 40%);
    @include phone {
      min-width: 300px;
    }
    height: 33px;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 1;
    &:before {
      top: 0px;
    }

    &::after {
      bottom: 0px;
      border-bottom-color: darken($border-color, 10%);
      border-bottom-width: 2px;
      border-bottom-style: none;
      box-shadow: 0px 4px 10px $shadow-color;
    }
  }

  tbody td {
    height: 32px;
    min-height: 0px;
    padding: 10px 5px 5px 5px;
    word-wrap: break-word;
  }

  tbody tr {
    @include fadein;
    border-bottom-color: $shadow-color;
    border-bottom-width: 0.5px;
    border-bottom-style: solid;
    transition: all 0.4s ease-in-out;
    &:hover {
      padding: 0px 10px;
      background-color: $primary-bg-color;
      box-shadow: 0 0 8px 0 $shadow-color;
    }
    
    td:first-child {
      padding-left: 10px;
    }
    td:last-child {
      padding-right: 10px;
    }
  }

  tbody th {
    position: sticky;
    left: 0;
  }
}

.emptyPlaceholder {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  p {
    font-weight: 600;
    margin-top: 30px;
  }
}