@import '../../styles/variables.scss';
@import '../../styles/animations.scss';
@import '../../styles/themes.scss';

.tableContainer {
  overflow: auto;
  padding: 0px $space-sm 0px $space-sm;
}

.table {
  background-color: $neutral-color-l4;
  display: table;
  width: 100%;
  border-collapse: collapse;
  box-sizing: border-box;

  th:before,
  th:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
  }

  thead th {
    background-color: $neutral-color-l4;
    font-weight: $font-weight-bold;
    font-size: $font-size-xs;
    color: $brand-primary-color;
    height: 33px;
    padding: $space-xs $space-sm;
    position: sticky;
    top: 0;
    z-index: 1;
    &:before {
      top: 0px;
    }

    &::after {
      bottom: 0px;
      border-bottom-color: $neutral-color-d1;
      border-bottom-width: $border-width-sm;
      border-bottom-style: solid;
    }
  }

  tbody td {
    min-height: 0px;
    padding: $space-sm $space-xs $space-xs $space-xs;
    word-wrap: break-word;
  }

  tbody tr {
    @include fadein;
    border-bottom-color: $neutral-color;
    border-bottom-width: $border-width-xs;
    border-bottom-style: solid;
    transition: all $transition-slow ease-in-out;
    &:hover {
      background-color: $neutral-color-l3;
    }

    td:first-child {
      padding-left: $space-sm;
    }
    td:last-child {
      padding-right: $space-sm;
    }
  }

  tbody th {
    position: sticky;
    left: 0;
  }
}

.emptyPlaceholder {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  p {
    font-weight: $font-weight-semibold;
    color: $neutral-color-d2;
    margin-top: $space-md;
  }
}

.spinnerContainer {
  margin-top: $space-md;
}
