@import './styles/variables.scss';
@import './styles/themes.scss';

html,
body {
  font-family: $font-family;
  font-size: $base-font-size;
  color: var(--text-color-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    border: 3px solid var(--neutral-color-d1);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: none;
}
