@import '../../styles/animations.scss';
@import '../../styles/variables.scss';
@import '../../styles/themes.scss';

%iconButton {
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }
  border: none;
  outline: none;
  padding: 5px 5px;
  border-radius: $border-radius;
  transition: all $transition-fast;
}

.primarySquareIconButton {
  @extend %iconButton;
  background-color: var(--brand-primary-color);
  color: var(--neutral-color-l4);
  &:hover {
    background-color: var(--brand-primary-color-d2);
  }
  &:active {
    background-color: var(--brand-primary-color-d2);
  }
  &:disabled {
    background-color: var(--brand-primary-color-l2);
  }
  svg {
    fill: var(--neutral-color-l4);
  }
}

.defaultSquareIconButton {
  @extend %iconButton;
  background-color: var(--neutral-color-l1);
  color: var(--brand-primary-color);
  &:hover {
    background-color: var(--neutral-color);
  }
  &:active {
    background-color: var(--neutral-color);
  }
  &:disabled {
    color: var(--neutral-color-d1);
    background-color: var(--neutral-color-l2);
    svg {
      fill: var(--neutral-color-d1);
    }
  }
  svg {
    fill: var(--brand-primary-color);
  }
}

.primaryRoundIconButton {
  @extend %iconButton;
  border-radius: 100%;
  background-color: var(--brand-primary-color);
  color: var(--neutral-color-l4);
  &:hover {
    background-color: var(--brand-primary-color-d2);
  }
  &:active {
    background-color: var(--brand-primary-color-d2);
  }
  &:disabled {
    background-color: var(--brand-primary-color-l2);
  }
  svg {
    fill: var(--neutral-color-l4);
  }
}
.defaultRoundIconButton {
  @extend %iconButton;
  border-radius: 100%;
  background-color: var(--neutral-color-l1);
  &:hover {
    background-color: var(--neutral-color);
  }
  &:active {
    background-color: var(--neutral-color);
  }
  &:disabled {
    color: var(--neutral-color-d1);
    background-color: var(--neutral-color-l2);
    svg {
      fill: var(--neutral-color-d1);
    }
  }
  svg {
    fill: var(--brand-primary-color);
  }
}
