@import '../../styles/animations.scss';
@import '../../styles/variables.scss';
@import '../../styles/themes.scss';

%iconButton {
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }
  border: none;
  outline: none;
  padding: 5px 5px;
  border-radius: $border-radius;
  transition: all $transition-fast;
}

.primarySquareIconButton {
  @extend %iconButton;
  background-color: $brand-primary-color;
  color: $neutral-color-l4;
  &:hover {
    background-color: $brand-primary-color-d2;
  }
  &:active {
    background-color: $brand-primary-color-d2;
  }
  &:disabled {
    background-color: $brand-primary-color-l2;
  }
  svg {
    fill: $neutral-color-l4;
  }
}

.defaultSquareIconButton {
  @extend %iconButton;
  background-color: $neutral-color-l1;
  color: $brand-primary-color;
  &:hover {
    background-color: $neutral-color;
  }
  &:active {
    background-color: $neutral-color;
  }
  &:disabled {
    color: $neutral-color-d1;
    background-color: $neutral-color-l2;
    svg {
      fill: $neutral-color-d1;
    }
  }
  svg {
    fill: $brand-primary-color;
  }
}

.primaryRoundIconButton {
  @extend %iconButton;
  border-radius: 100%;
  background-color: $brand-primary-color;
  color: $neutral-color-l4;
  &:hover {
    background-color: $brand-primary-color-d2;
  }
  &:active {
    background-color: $brand-primary-color-d2;
  }
  &:disabled {
    background-color: $brand-primary-color-l2;
  }
  svg {
    fill: $neutral-color-l4;
  }
}
.defaultRoundIconButton {
  @extend %iconButton;
  border-radius: 100%;
  background-color: $neutral-color-l1;
  &:hover {
    background-color: $neutral-color;
  }
  &:active {
    background-color: $neutral-color;
  }
  &:disabled {
    color: $neutral-color-d1;
    background-color: $neutral-color-l2;
    svg {
      fill: $neutral-color-d1;
    }
  }
  svg {
    fill: $brand-primary-color;
  }
}
