@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import '../../styles/themes.scss';

%panelSection {
  transition: all 0.5s;
  background-color: white;
  overflow: hidden;
}

.content {
  border: 1px #dddddd solid;
  border-radius: 3px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 10px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  height: 30px;
  align-items: center;

  .headerText {
    font-size: 12px;
    font-weight: 200;
    color: #3b5574;
  }
}

.panelHidden {
  height: 0;
  @extend %panelSection;
}

.panelActive {
  height: 250px;
  padding: 10px;
  font-size: 14px;
  line-height: 20px;
  @extend %panelSection;
}

.iconActive {
  transform: rotate(-90deg);
}

.iconHidden {
  transform: rotate(0deg);
}
